.article_layout {
    padding: 0px 941px 0px 110px;
    display: flex;
    flex-direction: column;
    a {
        padding-bottom: 31px;
        font-weight: bold;
    }
    .article_layout--img {
        padding-left: 15px;
    }
}