.main--sections {
    width: 1440px;
	max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.sections {
	width: 100%;
	max-width: 100%;
	padding: 40px 0px 40px 0px;
	border-radius: 8px;
	box-sizing: border-box;
    font-size: 16px;
    
    .sections--main {
        opacity: 0.5;
    }
}

.main_page {
    margin: 0 auto;
	box-sizing: border-box;
	background: #fff;
	padding: 60px 100px;

	.contacts {

		&--title {
			font-size: 28px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0px 0px 60px;
		}
		&--wrapper {
			display: flex;
			flex-direction: row;
			gap: 70px;

			.left-side, .right-side {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 280px;
				
				.contacts--item {
					font-size: 16px;
					
					
					.contacts--title--line {
						padding-bottom: 3px;
						opacity: 0.5;
					}
					.line--link {
						color: #126AEF;
					}
					

				}
				.contacts--item--last {
					padding-top: 60px;
				}
			}

		}
	}
	
}

.main_page {
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;

	@media screen and (max-width: 480px) {
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
	}
}
    