footer {
	width: 100%;
	max-width: 100%;
	margin-top: 60px;
	padding: 40px;
	box-sizing: border-box;
	background: #ffffff;

	font-size: 16px;
	color: #111439;

	.container {
		display: flex;
		flex-wrap: wrap;
	}
	.footer {
		&--left,
		&--right {
			flex: 50%;
			max-width: 50%;
		}
		&--bottom {
			margin-top: 40px;
			flex: 100%;
			display: flex;
			align-items: center;
			.site {
				&--info {
					&-c {
						width: fit-content;
						margin-right: auto;
						opacity: 0.6;
					}
					&-dev {
						width: fit-content;
						margin-left: auto;
						opacity: 0.6;
						padding-right: 10px;

					}
				}
			}
		
		}
	}
	
	.contact {
		&--info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			row-gap: 20px;
			
			.w {
				&-50 {
					flex: 50%;
					max-width: 50%;
				}
			}
		}
		&--item {
			display: flex;
			flex-direction: column;
			row-gap: 8px;

			.title--line {
				color: #111439;
				opacity: 0.6;
			}
		}
	}

	.subscribe {
		&--from {
			display: flex;
			justify-content: end;
			align-items: flex-end;
			flex-direction: column;
			gap: 40px;	
		}
		&--contacts {
			display: flex;
			gap: 40px;
			
		}
		&--contact{
			transition: background-color .2s linear;
			padding: 6px 8px;
		}
		&--contact:hover {
			opacity: 1s;
			border-radius: 4px;
			background-color: #5d5486;
		}
		&--email {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&--input {
			font-size: 16px;
			line-height: 24px;
			width: 287px;
			border: unset;
			outline: none;
			border-bottom: 2px solid #e3e3e3;
			transition: background-color .2s linear;
		}
		
		&--btn {
			display: flex;
			align-self: flex-end;
			padding: 8px 38px;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			text-transform: uppercase;
			color: #111439;
			background-color: #fff;
			border-radius: 4px;
			border: 2px solid #111439;
			transition: background-color .2s linear;
		}
		&--btn:hover {
			background-color: #cac7bb;
		}
	
	}
}
