footer {
	width: 100%;
	max-width: 100%;
	margin-top: 60px;
	padding: 40px;
	box-sizing: border-box;
	background: #ffffff;

	font-size: 16px;
	color: #111439;

	.container {
		display: flex;
		flex-wrap: wrap;
	}
	.footer {
		&--left,
		&--right {
			flex: 50%;
			max-width: 50%;
		}
		&--bottom {
			margin-top: 40px;
			flex: 100%;
			display: flex;
			align-items: center;
			.site {
				&--info {
					&-c {
						width: fit-content;
						margin-right: auto;
						opacity: 0.6;
						padding-left: 50px;
					}
					&-dev {
						width: fit-content;
						margin-left: auto;
						opacity: 0.6;
						padding-right: 10px;

					}
				}
			}
			.dev--svg {
				padding-right: 20px;

			}
		}
	}
	
	.contact {
		&--info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			row-gap: 30px;
			padding-left: 50px;
			
			.w {
				&-50 {
					flex: 50%;
					max-width: 50%;
				}
			}
		}
		&--item {
			display: flex;
			flex-direction: column;
			row-gap: 8px;

			.title--line {
				color: #111439;
				opacity: 0.6;
			}
		}
	}
}
