.guidelines {
    padding: 0px 300px 0px 100px;

    ul {
        list-style: disc !important;
        padding-left: 20px;
        

        li {
            list-style: disc;
            margin: 10px 0px;
        }
    }
    strong {
        font: revert !important;
        font-weight: bold !important;
    }
}

