.guidelines {

    ul {
        list-style: disc !important;
        padding-left: 20px;
        

        li {
            list-style: disc;
            margin: 10px 0px;
            text-align: justify;
        }
    }
    strong {
        font: revert !important;
        font-weight: bold !important;
    }
}

