$color--white: #fff;

header {
	width: 100%;
	max-width: 100%;

	.header {
		&--top {
			.container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				background: $color--white;
				padding: 40px 40px 0 56px;
			}
			.logo,
			.navigation {
				&--wrapper {
					max-width: 50%;
					width: 50%;
				}
			}
			
			.logo {
				&--wrapper {
					display: flex;
					justify-content: start;
					align-items: flex-start;
				}
			}
			.navigation {
				&--wrapper {
					display: flex;
					justify-content: end;
					align-items: flex-end;
					flex-direction: column;
					gap: 40px;
				}
			}
			
			.personal {
				&--wrapper {
					width: 50%;
					max-width: 50%;
					font-size: 18px;
					display: flex;
					justify-content: end;
					justify-content: flex-end;
					align-items: center;
					transition: color .2s linear;
				
					.personal--registr {
					padding-right: 30px;
				}
			
			}
			}
			
			.personal--login:hover {
				color: #131f41;
				text-decoration: underline;
				
			}
			.personal--registr:hover {
				color: #131f41;
				text-decoration: underline;
			}

			.lang {
				&--wrapper {
					width: 100%;
					max-width: 100%;
					display: flex;
					justify-content: end;
				}
				&--list {
					display: inline-flex;
					width: 100%;
					justify-content: end;
					gap: 20px;
					font-size: 18px;
				}
				&--item {
		
					width: fit-content;
					max-width: fit-content;
					color: black;
					transition: color .2s linear;
				
				}
				&--link {
					
					padding: 6px 13px;
					

				}
			}
			.lang--item:hover {
				color: #fff;
    			text-decoration: none;

				a {
					background-color: #131f41;
				}
			}
		}
		&--bottom {
			.container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				background: $color--white;
				padding: 40px;
			}

			.menu,
			.search {
				&--wrapper {
					max-width: 50%;
					width: 50%;
				}
			}
			.menu {
				&--wrapper {
					display: flex;
					justify-content: start;
					align-items: flex-start;
				}

				&--list {
					display: inline-flex;
				}
				&--link {
					display: flex;
					padding: 8px 16px;
				}
			}
			.search {
				&--wrapper {
					display: flex;
					justify-content: end;
					align-items: flex-end;
				}
			}
		}
	}

	.header--bottom {
		.container {
			align-items: flex-start;
			justify-content: space-between;

			.search--wrapper {
				width: auto;
			}
		}
	}
}.search--input {
	width: 190px;
	border: unset;
	outline: none;
	font-size: 15px;
}

.search--button {
	border: unset;
	outline: none;
	background-color: #fff;
	
	transition: background-color .2s linear;
}
.search--button:hover {
	border-radius: 4px;
	background-color: #cac7bb;
}
.search--bar {
	border-bottom: 2px solid #e3e3e3;
}
