header {
	width: 100%;
	max-width: 100%;

	.header {
		&--top {
			.container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				background: $color--white;
				padding: 40px 40px 0 56px;
			}
			.logo,
			.navigation {
				&--wrapper {
					max-width: 50%;
					width: 50%;
				}
			}
			.logo {
				&--wrapper {
					display: flex;
					justify-content: start;
					align-items: flex-start;
				}
			}
			.navigation {
				&--wrapper {
					display: flex;
					justify-content: end;
					align-items: flex-end;
				}
			}

			.lang {
				&--wrapper {
					width: 100%;
					max-width: 100%;
					display: flex;
					justify-content: end;
				}
				&--list {
					display: inline-flex;
					width: 100%;
					justify-content: end;
				}
				&--item {
					width: fit-content;
					max-width: fit-content;
					height: auto;
				}
				&--link {
					padding: 16px 24px;
				}
			}
		}
		&--bottom {
			.container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				background: $color--white;
				padding: 40px;
			}

			.menu,
			.search {
				&--wrapper {
					max-width: 50%;
					width: 50%;
				}
			}
			.menu {
				&--wrapper {
					display: flex;
					justify-content: start;
					align-items: flex-start;
				}

				&--list {
					display: inline-flex;
				}
				&--link {
					display: flex;
					padding: 8px 16px;
				}
			}
			.search {
				&--wrapper {
					display: flex;
					justify-content: end;
					align-items: flex-end;
				}
			}
		}
	}
}
