// MD 

@media (max-width: 992px) {

    header {
        .header--bottom {
            .container {

                .header-nav {
                    gap: 30px;
                }

                .search--wrapper {
                    max-width: 170px;

                    .search--bar {
                        padding-bottom: 10px;
                        display: flex;
                        align-items: center;

                        .search--input {
                            width: 125px;
                        }
                    }
                }
            }
        }
    }

    .breadcrumb {
        padding: 0px 40px;
    }

    .document-download-block {
        flex-wrap: wrap;
        gap: 40px;
    }

    .main_page {
        padding: 60px 40px;

        .publication--title,
        .certificate--title,
        .contacts--title,
        .reference--title {
            font-size: 24px;
            margin: 0px 0px 40px;
        }

        .contacts--wrapper {
            gap: 15px;
        }

        .publication--item {
            padding: 0px;

            .publication--link,
            .publication--answer {
                width: 100%;
            }

            .publication--link {
                display: flex;
                align-items: center;
                padding: 20px 20px 20px 0px;
                width: calc(100% - 20px);
            }
        }
    }

    .content--complex {
        .link--item {
            width: auto;
        }
    }

    footer {
        .container {
            justify-content: space-between;

            .footer--left {
                max-width: 65%;

                .contact--info {
                    padding-left: 0px;
                }
            }
            
            .footer--right {
                max-width: 30%;

                .subscribe--from {
                    padding-right: 0px;

                    .subscribe--input {
                        width: 100%;
                    }
                }

                
            }
            
        }
    } 
}



// SM 

@media (max-width: 768px) {

    .breadcrumb {
        padding: 0px 10px;

        .container {

            .breadcrumb-item {
                i {
                    margin: 0;
                }

                a {
                    font-size: 12px;
                }
            }
        }
    }

    header {

        .header--top {
            .container {
                flex-direction: column;
                align-items: center;
                padding: 40px 10px 0 10px;
                gap: 25px;

                .logo--wrapper {
                    justify-content: center;
                }

                .navigation--wrapper {
                    gap: 25px;
                }

                .logo--wrapper, 
                .navigation--wrapper,
                .personal--wrapper {
                    max-width: 100%;
                    width: 100%;
                }

                .personal--wrapper {
                    align-items: center;
                    justify-content: center;
                }
                
                .lang--list {
                    justify-content: center;
                }
            }
        }

        .header--bottom {

            .container {
                position: relative;
                padding: 40px 20px;
    
                
    
                .header-nav {
                    margin-top: 48px;
                    flex-direction: column;
                    width: 100%;
                    height: 0;
                    transition: 400ms;
    
                    .dropdown {
                        overflow: visible;
    
                        .dropbtn {
                            flex-direction: row;
                            justify-content: space-between;
                            width: calc(100% - 30px);
                            position: relative;
                            max-width: 100%;
                            padding: 0px 15px;
        
                            i {
                                img {
                                    transform: rotate(-90deg);
                                }
                                
                            }
    
                            &:hover {
    
                                &:after {
                                    width: calc(100% - 30px);
                                }
                            }
        
        
                        }
    
                        .dropdown-content {
                            margin-top: 40px;
                        }
        
                        &:hover {
                            overflow: visible;
    
                            i {
                
                                img{
                                    transform: rotate(0deg);
                                    transition: 0.2s;
                                }
                            }
    
                            .dropdown-content {
                                position: relative;
                            }
                        }
                    }
    
                }
    
                .search--wrapper {
                    position: absolute;
                    right: 40px;
                    max-width: 180px;

                    .search--bar {

                        .search--input {
                            width: 140px;
                        }
                    }
                }
    
                // Mobile burger menu
    
                .menu-button-container {
                    display: flex;
                }
                .menu {
                    position: absolute;
                    top: 0;
                    margin-top: 50px;
                    left: 0;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
                #menu-toggle:checked ~ .header-nav {
                    overflow: scroll;
                    height: 250px;
                    padding: 20px 0px;
                    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                }
    
            }
        }
    }

    .banner--wide-top {
        padding: 40px 20px;

        article {
            .title {
                font-size: 24px;
            }
        }
    }

    .block--title {
        .title {
            font-size: 18px;
        }
    }

    .news--info {
        .title {
            font-size: 21px;
        }
    }
    
    .content--complex {
        .link--item {
            width: 100%;
        }
    }

    .main_page {
        padding: 40px 10px;

        .publication--title,
        .certificate--title,
        .contacts--title,
        .reference--title {
            font-size: 17px;
            margin: 0px 0px 30px;
        }
        
        .publication--link {
            font-size: 15px;
        }
        
        .publication--answer {
            text-align: justify;

            p {
                font-size: 15px;
            }
        }
    }

    .archive-form-block {
        form.form-filter {
            .select-year {
                div {
                    label {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        padding: 40px 20px;

        .container {
            flex-direction: column;
            gap: 40px;

            .footer--left {
                max-width: 100%;

                .contact--info {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 40px;

                    .w-50 {
                        max-width: 100%;
                        align-items: center;

                        .link--line {
                            text-align: center;
                        }
                    }
                }
            }

            .footer--right {
                max-width: 100%;
                
                .subscribe--from {
                    align-items: center;
                }
            }

            .footer--bottom {
                margin-top: 10px;
                flex-direction: column-reverse;
                gap: 20px;

                .site--info-,
                .site--info-dev {
                    padding-left: 0px;
                    padding-right: 0px;
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}