.publication {
	display: flex;
	flex-direction: column;

	&--title {
		font-size: 28px;
		margin: 0px 0px 60px;
		font-weight: bold;
	}


	&--item {
		display: flex;
		flex-direction: column;
		padding: 0px;
		border: unset;
		
		outline: none;
		transition: background-color .2s linear;
	}
	
	&--link {
		width: 773px;
		position: relative;
		border: unset;
		border-bottom: 3px solid #e3e3e3;
		cursor: pointer;
		padding: 20px 0px;
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		transition: 750ms;

		
		.ion-icon {
			
		
		}
		.add-outline {
			position: absolute;
			right: 0;
			transition: 0.75s;
		}
	}
	&--answer {
		width: 773px;
		max-height: 0;
		overflow: hidden;
		position: relative;
		
		transition: max-height 750ms;
	}

	
	&--answer {

		p {
			font-size: 18px;
			line-height: 23px;
			padding: 10px 0px;
		}
		
		ul {
			list-style: disc !important;
			padding-left: 20px;
			
	
			li {
				list-style: disc;
				margin: 10px 0px;
			}
		}
		strong {
			font: revert !important;
			font-weight: bold !important;
		}
		
		

	} 

	.publication--item.active {

		.publication--answer {
			max-height: 100rem;
		}

		.publication--link {
			border-bottom: none;
			transition: 0.75s;

			.add-outline{
				transform: rotate(45deg);
				transition: 0.75s;
			}
		}
	}
}