$color--primary: #fec611;
$color--secondary: #1d2b53;
$color--accent: #2e5492;

$color--white: #ffffff;
$color--dark: #111439;
$color--gray: #f7f7f7;

$gradient--main: linear-gradient(152.67deg, #2357a6 15.56%, #224780 82.04%),
	linear-gradient(152.67deg, #2b72b3 15.56%, #1756a2 82.04%), #2469bb;
