@font-face {
  font-family: 'PT Sans';
  src: url("./../fonts/PT sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: 'PT Sans';
  src: url("./../fonts/PT sans/PTSans-Bold.ttf");
  font-weight: bold;
}
