.guidelines {
  padding: 0px 300px 0px 100px;
}

.guidelines ul {
  list-style: disc !important;
  padding-left: 20px;
}

.guidelines ul li {
  list-style: disc;
  margin: 10px 0px;
}

.guidelines strong {
  font: revert !important;
  font-weight: bold !important;
}
